<!DOCTYPE html PUBLIC "-//IETF//DTD HTML 2.0//EN">
<HTML>
   <HEAD>
      <TITLE>
         PBM For the Uninsured!
      </TITLE>
	  <link href="https://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" rel="stylesheet">

   </HEAD>
<BODY>

<table id="drugs" class="display" cellspacing="0">
		<thead>
			<tr>
				<th>Drug</th>
				{{#each pharmacies}}
				<th name="{{this}}">{{this}}</th>
				{{/each}}
			</tr>
		</thead>
		<tbody>
			{{#each drugs}}
			<tr>
				<td>{{name}}
				{{#each pharmacy.value}}
				<td>{{this}}
				{{/each}}
			</tr>
			{{/each}}
			<tr>
				<td><font color="red">total</font>
				{{#each totals}}
				<td><font color="red">{{this}}</font>
				{{/each}}
				</font>
		</tbody>
</table>

<div bestpharmacy="{{bestpharmacy}}"></div>

<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>

<script>
		var rtlcolor = 'palegreen';
		var cpncolor = 'yellow';
		var bestcolor = 'orange';

		var rtlcolumnindexes = [];
		var cpncolumnindexes = [];
		var bestcolumnindexes = [];

		$(document).ready(function() {
			var bestpharmacy = $('div[bestpharmacy]').first().attr('bestpharmacy');

			$('#drugs').find("th[name$='Rtl'][name!='"+bestpharmacy+"']").each(function(index, element) {
				$(this).css('background-color', rtlcolor);
				var colno = $(this).index();
				rtlcolumnindexes = rtlcolumnindexes.concat([$(this).index()]);
			});
			$('#drugs').find("th[name$='Cpn'][name!='"+bestpharmacy+"']").each(function(index, element) {
				$(this).css('background-color', cpncolor);
				var colno = $(this).index();
				cpncolumnindexes = cpncolumnindexes.concat([$(this).index()]);
			});
			$('#drugs').find("th[name='"+bestpharmacy+"']").each(function(index, element) {
				$(this).css('background-color', 'orange');
				var colno = $(this).index();
				bestcolumnindexes = bestcolumnindexes.concat([$(this).index()]);
			});

			var columnscompleted = [];
			$('td').each(function() {
				var colno = $(this).index();

				if (columnscompleted.indexOf(colno) >= 0) {
					return;
				}

				columnscompleted = columnscompleted.concat([colno]);

				if (rtlcolumnindexes.indexOf(colno) >= 0) {
						$(this).closest('table')
							.find('tr td:nth-child('+(colno+1)+')')
							.css('background-color', rtlcolor);
				}
				if (cpncolumnindexes.indexOf(colno) >= 0) {
						$(this).closest('table')
							.find('tr td:nth-child('+(colno+1)+')')
							.css('background-color', cpncolor);
				}
				if (bestcolumnindexes.indexOf(colno) >= 0) {
						$(this).closest('table')
							.find('tr td:nth-child('+(colno+1)+')')
							.css('background-color', bestcolor);
				}
			});

			$('#drugs').DataTable();
		});

</script>
</BODY>
</HTML>
