<!DOCTYPE html PUBLIC "-//IETF//DTD HTML 2.0//EN">
<HTML>
   <HEAD>
      <TITLE>
         PBM For the Uninsured!
      </TITLE>
	  <link href="https://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" rel="stylesheet">

   </HEAD>
<BODY>
   <H1>Here are the available patients</H1>
   <P>These are the patients</P>
</BODY>

<table id="patients" class="display" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th>Avatar</th>
				<th>Patient ID</th>
				<th>Patient Name</th>
				<th>Link</th>
			</tr>
		</thead>

		{{#each patients}}
		<tr sex="{{sex}}">
			<td>
				<img id="femaleavatar" height=30 width=30 alt="User Pic" src="https://cdn1.iconfinder.com/data/icons/user-pictures/100/female1-512.png" class="img-circle img-responsive"></img>
				<img id="maleavatar" height="30" width="30" alt="User Pic" src="https://cdn1.iconfinder.com/data/icons/user-pictures/100/male3-512.png" class="img-circle img-responsive"></img></td>
			<td>{{id}}</td>
			<td>{{name}}</td>
			<td><a href="/cgi-bin/patient.pl?id={{id}}&sex={{sex}}">chart</td>
		</tr>
		{{/each}}
</table>

<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>

<script>
		$(document).ready(function() {
				$('table#patients').find('tr[sex]').each(function() {
					sex = $(this).attr('sex');
					if (sex === 'm') {
							$(this).find('img#femaleavatar').hide();
					}
					if (sex === 'f') {
							$(this).find('img#maleavatar').hide();
					}
				});

				$('#patients').DataTable();
		});
</script>
</HTML>
