<!DOCTYPE html PUBLIC "-//IETF//DTD HTML 2.0//EN">
<HTML>
   <HEAD>
      <TITLE>
         PBM For the Uninsured! 
      </TITLE>
   </HEAD>
<BODY>
   <H1>Hi</H1>
   <P>Welcome to PBM for the Uninsured: {{patientname}}.</P> 

Patient ID: {{patientid}} <br>

PCP: {{pcp}} <br>

HPI: {{hpi}} <br>

Allergies: {{allergies}} <br>

Discharge Instructions: {{dischargeinstructions}}<br>

Meds:

<form action="/cgi-bin/coupons.pl" method="post">
		<table>
		{{#each meds}}
		<tr>
			<td>
				<label><input type="checkbox" name="{{this}}">{{this}}</label>
			<td>
		{{/each}}
		</table>
		<input type="hidden" name="patientid" value="{{patientid}}">
		<input type="submit">
</form>

</BODY>
</HTML>
